<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>

<body>

<h1>Admin Dashboard</h1>

<button onclick="location.href='/admin/classes'">
    Manage Classes
</button>

<br><br>

<button onclick="location.href='/admin/timetable'">
    View Timetable
</button>

<br><br>

<button onclick="location.href='/admin/coaches'">
    Manage Coaches
</button>

<br><br>

<button onclick="location.href='/admin/rooms'">
    Manage Rooms
</button>

<br><br>

<button onclick="location.href='/admin/members'">
    Manage Members
</button>

<br><br>

<button onclick="location.href='/admin/tournaments'">
    Manage Tournament
</button>

<br><br>

<button onclick="location.href='/admin/memberships'">
    Manage Memberships
</button>

<br><br>

<button onclick="location.href='/login'">
    Logout
</button>

<br><br>

</body>
</html>