<!DOCTYPE html>
<html>
<head>
    <title>Member Dashboard</title>
</head>

<body>

<h1>Member Dashboard</h1>

<button onclick="location.href='/member/profile'">
    My Profile
</button>

<br><br>

<button onclick="location.href='/member/timetable'">
    View Timetable
</button>

<br><br>

<button onclick="location.href='/member/memberships'">
    Memberships
</button>

<br><br>

<button onclick="location.href='/member/tournaments'">
    Tournament Registration
</button>

<br><br>

<button onclick="location.href='/login'">
    Logout
</button>

</body>
</html>